@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), url(assets/IBM_Plex_Sans/IBMPlexSans-Bold.ttf),
    url(assets/IBM_Plex_Sans/IBMPlexSans-Regular.ttf),
    url(assets/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf);
}
@font-face {
  font-family: "Trispace";
  src: url(assets/Trispace/static/Trispace-Bold.ttf),
    url(assets/Trispace/static/Trispace-ExtraBold.ttf);
}
:root {
  --primary-white: #fffcf5;
  --primary-black: #121212;
  --background-black: #000;
  --Primary-green: #00dfa2;
  --secondary-pink: #ec53b0;
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1920px;
}
html {
  background-color: var(--primary-black);
  background-image: url("assets/backgrounds/gradient_medium.png");
  background-repeat: repeat;
}
body {
  /* background-image: url("assets/backgrounds/Gradient.png");
  background-repeat: round; */
}
a {
  text-decoration: none;
  color: var(--secondary-color-hero);
}
a:hover {
  text-decoration: none;
}
/* navbar */
.nav-bar {
  position: absolute;
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 0rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 18.75rem;
  flex-shrink: 0;
  flex-direction: row;
}
.nav-mid {
  height: 100%;
  color: var(--primary-white);
  gap: 4.74rem;
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-direction: row;
  align-items: center;
}
.navbar-anchor {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
}
.logo {
  width: 11.07938rem;
  height: 4rem;
  flex-shrink: 0;
  color: var(--primary-white);
}
.logo-wrapper {
  left: 3%;
  position: relative;
  display: flex;
  color: var(--primary-white);
}
.bars {
  margin-right: 4rem;
  display: flex;
  height: 1.25rem;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  flex-shrink: 0;
}
.nav-bar-mobile {
  display: none;
}
/* navbar ends*/
/* hero */

.hero-main {
  display: block;
  background-image: url("assets/backgrounds/utanallt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  width: 100%;
  height: 68rem;
  flex-shrink: 0;
}
.text-wrapper {
  margin: 0;
  padding: 0;
  width: 49%;
  position: relative;
  top: 10rem;
  left: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
}
.main-header > h1 {
  color: var(--primary-white);
  font-family: "Anton", "IBM Plex Sans", sans-serif;
  font-size: 9.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 96.344%;
}
.main-header > .header-green {
  color: var(--Primary-green);
  display: inline;
}
.main-header > .header-pink {
  color: var(--secondary-pink);
  display: inline;
}
.header-para {
  padding-right: 21rem;
  padding-left: 10rem;
  margin: 0;
  color: var(--primary-white);
}
.header-para > p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
}
.hero {
  gap: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.big-top {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.625rem;
}
.big-bottom {
  width: 43%;
  padding-left: 10rem;
  padding-right: 0rem;
  margin: 0;
  color: var(--primary-white);
}
.mail-collector {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.mail-collector > p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 107%;
}
.btn-hero {
  margin-left: 0;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 2%;
  border: 1px solid var(--Primary-green);
  background-color: var(--primary-color-black);
  color: var(--primary-white);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  border-radius: 1rem;
  width: 10.1875rem;
  height: 3.0625rem;
}

/* hero ends */
/* MAIN */
.bg-black {
  height: 100rem;
  background-image: url("assets/backgrounds/black_filemap_background_svg.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.border-box-main {
  margin: 0 3rem 0 3rem;
  width: calc(100% - 6rem);
  border: 5px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-image: url(assets/box-borders/HorizontallinesDESKTOP.png) 37 478 /13% 83%/
    33px stretch;
}
.border-image-conatiner{
  display: none;
}
.border-box-main-mobile{
  display: none;
}
.product-3d {
  width: 85%;
}
.left-box-model-box {
  width: calc(40% - 3rem);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  background-image: url(assets/main/only_background_NO_product.svg);
  align-items: center;
  justify-content: center;
}
.center-box-model-box {
  margin: 0;
  padding: 0 4.5rem 0 4.5rem;
}
.right-box-model-box {
  width: calc(40% - 3rem);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  border-image: url(assets/box-borders/Boxcornders@2x.png) 60 43 /8% 6%/ 0px;
}
.model-info {
  margin: 0 1rem 0 1rem;
  display: flex;
  color: var(--Primary-green);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
}
.left {
  margin: 0;
  text-align: left;
}
.right {
  margin: 0;
  text-align: right;
}
.model-header {
  color: var(--primary-white);
  font-family: "Anton", sans-serif;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.model-bread {
  display: flex;
  color: var(--primary-white);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
  flex-direction: column;
  gap: 1rem;
}
.model-bread > p {
  margin: 0;
}
.model-list {
  margin: 0;
}
.model-bread > ol {
  padding-left: 1.4rem;
}

/* MAIN ENDS */
/*PRODUCT CARDS*/
content {
  margin-bottom: 10rem; /* remove when we get more content  */
  display: flex;
}
.sec-product {
  position: relative;
  margin: 0;
  display: flex;
  width: 49.8125rem;
  height: 27.6875rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.sec-product {
  position: relative;
  margin: 0;
  display: flex;
  /* width: 50.8125rem; */
  /* height: 28.6875rem; */
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.border-box-with-corner {
  left: 1rem;
  border: 2px solid var(--primary-white);
  border-image: url("assets/box-borders/Boxcornders@2x.png") 58 43 /34% 10%/ 7px;
  position: relative;
}

.sec-product-box {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sec-prod-text-box > h4 {
  font-family: "Anton", sans-serif;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.10781rem;
  letter-spacing: 0.08438rem;
}
.synt {
  /*  background-size: auto; */
  background-repeat: round;
  border: 2px solid var(--primary-white);
  background-image: url("assets/backgrounds/productBackdrops/ff3.png");
  border-image: url("assets/box-borders/HorizontallinesDESKTOP.png") 53 / 51px
    55px / 2rem stretch;
}
.speakers {
  background-size: auto;
  background-repeat: round;
  border: 2px solid var(--primary-white);
  background-image: url("assets/backgrounds/productBackdrops/liggande_party_final4k.png");
  border-image: url("assets/box-borders/HorizontallinesDESKTOP.png") 53 / 51px
    55px / 2rem stretch;
}
.pedals {
  background-size: auto;
  background-repeat: round;
  border: 2px solid var(--primary-white);
  background-image: url("assets/backgrounds/productBackdrops/Pedalcontentfill3.png");
  border-image: url("assets/box-borders/HorizontallinesDESKTOP.png") 53 / 51px
    55px / 2rem stretch;
}
.slider-mob{
  display: none;
}




/*FOOTER*/
footer {
  background-color: var(--primary-black);
  width: 100%;
}
.footer-wrapper {
  color: var(--secondary-color-hero);
  height: 20.625rem;
  flex-shrink: 0;
  display: flex;
}
.left-footer-column {
  margin-bottom: 5rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  border-image: url("assets/box-borders/HorizontallinesfooterDESKTOP.png") 27 23 /
    50px 30px / 1rem round space;
}
.left-footer-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--primary-white);
}
.social-media-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.social-media-icon {
  width: 2rem;
  height: 2rem;
}

.footer-logo {
  width: 11.12238rem;
  height: 4rem;
}
.center-footer-column {
  margin-bottom: 5rem;
  margin-top: 5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  border-image: url("assets/box-borders/HorizontallinesfooterDESKTOP.png") 27 23 /
    50px 30px / 1rem round space;
}

.footer-button {
  color: var(--primary-white);
  text-transform: capitalize;
  font-family: "IBM Plex Sans", sans-serif;
  border: 1px solid var(--primary-white);
  background-color: var(--primary-black);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
  border-radius: 8px;
}
.right-footer-column {
  margin-bottom: 5rem;
  margin-top: 5rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--primary-white);
  text-align: center;
  border-image: url("assets/box-borders/HorizontallinesfooterDESKTOP.png") 27 23 /
    50px 30px / 1rem round space;
}

.footer-p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
}
/*FOOTER ENDS*/
.margin-left-zero{
  margin-left: 0;
}
@media (min-width: 200px) and (max-width: 360px) {
  .nav-bar {
    display: none;
  }
  .right-footer-column {
    flex-direction: column;
  }
}
@media (min-width: 360px) and (max-width: 500px) {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body{
    background-color: var(--background-black);
  }
  /*NAVBAR MOBILE*/
  .nav-bar {
    display: none;
  }
  .nav-bar-mobile {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 50%;
    top: 2%;
    align-items: center;
  }
  
  .logo-wrapper-mobile {
    color: var(--primary-white);
  }
  .logo-mobile {
    width: 100%;
  }
  .bars-mobile {
    color: var(--primary-white);
  }
  /* NAVBAR ENDS */

  /* HERO MOBILE */
  .hero {
    gap: 33rem;
  }
  .hero-main {
    background-image: url("assets/backgrounds/mobile/ddddd\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    width: 100%;
    height: 68rem;
  }

  /* HERO TEXT*/
  .text-wrapper {
    margin: 0;
    padding: 0;
    width: 70%;
    position: relative;
    top: 13rem;
    left: 2rem;
    font-family: "IBM Plex Sans", sans-serif;
}
.main-header {
  margin: 0;
  padding-left: 1rem;
}
  .main-header > h1 {
    font-family: "Anton", sans-serif;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 95%;
  }
  .header-para{
    
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0;
  }
  .header-para > p{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 115.05%;
  }
  .big-bottom {
    display: flex;    
    margin: 0;
    color: var(--primary-white);
    width: 50%;
    padding-left: 24%;
    padding-right: 1rem;
}

/* HERO TEXT ENDS */
/* HERO BUTTON */
.mail-collector > p {
  text-align: center;
font-family: 'IBM Plex Sans', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 107%;
}
/* HERO BUTTON ENDS */
/* HERO MOBILE ENDS */


/* MAIN MOBILE */

.bg-black {
  height: 50rem;
  background-image: url(assets/backgrounds/black_filemap_background_svg.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-image-conatiner {
  border-image-source: url(assets/box-borders/HorizontallinesMOBILE.png);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid;
  border-image-slice: 40; */

/* try border-image*/
  border-image-slice:28 0 29 0;
  border-image-width:20px 20px 20px 20px;
  border-image-outset:0px 0px 0px 0px;
  border-image-repeat:stretch stretch;
  border-style:solid;
}
.border-box-main {
  display: none;
}
.border-box-main-mobile {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.border-box-mobile-top {
  display: flex;
  flex-direction: column;   
  padding: 0.5rem;
}
.model-header > h4{
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.model-list-mobile {
  padding-left: 1rem;
  margin: 0;
}
.border-box-mobile-mid{
  display: flex;
  width:100%;
}
.border-box-mobile-mid > hr{
  width: 73%;  
}
.model-bread-mobile{
  display: flex;
  flex-direction: column;
  gap:1rem;
  text-align: start;
  color: var(--primary-white);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 115.05%;
}
.boxed-corner-mobile-container{
  width: 75%;
  border-image-source:url("assets/box-borders/Boxcornders@2x.png");
  border-image-slice:33% 33% 33% 33%;
  border-image-width:1em 1em 1em 1em;
  border-image-outset:0px 0px 0px 0px;
  border-image-repeat:round round;
  border-style:solid;

}
.border-box-mobile-bot{
  padding: 0.5rem;
  display: flex;
  /* background-image: url('assets/backgrounds/mobile/Vector.png');
  background-position: center;
  background-repeat: no-repeat;   */
  align-items: center;
    justify-content: center;
    flex-direction: row;

   
}
.product-3d-mobile{
  width: 95%;
}


/* MAIN MOBILE ENDS */

/* PRODUCT CARDS MOBILE */
content {  
  display: none;
}





/* CAROSEL*/
/* external css: flickity.css */
.cont-carusel{
  margin-bottom: 5rem;
  height: 100%;
  background-color: var(--background-black);
}
.gallery {
  margin: 0.5rem;
  width: 82%;
  height: 34.625rem;
  background:black;
}

.gallery-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


  width: 100%;
  /*storlek på bilderna*/
  height: 65rem;
  margin-right: 10px;
  background: #8c8;
  counter-increment: gallery-cell;

  color: white;
}

/* cell number */
.gallery-cell:before {
display: block;
display: none;
text-align: center;
content: counter(gallery-cell);
line-height: 200px;
font-size: 80px;
color: white;
}

.synt-mob {
  padding: 5rem 0 5rem 0;
  height: 100%;

background-image: url("assets/product_img/mobile/synt-mobile.png");
background-repeat: no-repeat;
background-size: cover;
}
.speakers-mob {
  padding: 5rem 0 5rem 0;
  height: 100%;

background-image: url("assets/product_img/mobile/stående_party_final4k\ 2.png");
background-repeat: no-repeat;
background-size: cover;
}
.pedals-mob {
  padding: 5rem 0 5rem 0;
  height: 100%;

background-image: url("assets/product_img/mobile/PedalcontentfillStående2.png");
background-repeat: no-repeat;
background-size: cover;
}
.seq-mob {
  padding: 5rem 0 5rem 0;
  height: 100%;

background-image: url("assets/product_img/mobile/seq_vertikal_BG\ 1.png");
background-repeat: no-repeat;
background-size: cover;
}
.outer-border-box {
  display: flex;
  justify-content: center;
  /* height: 70rem; */


border-image-source:url('assets/box-borders/HorizontallinesMOBILE.png') ;
border-image-slice:28 0 29 0;
border-image-width:20px 20px 20px 20px;
border-image-outset:0px 0px 0px 0px;
border-image-repeat:stretch stretch;
border-style:solid;  

}
.corners {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;  

  padding: 1rem;
  border-image-source: url('assets/box-borders/Boxcornders@2x.png');
  border-image-slice: 62% 27% 22% 52%;
  border-image-width: 1.5em 0.5em 0.5em 1.5em;
  border-image-outset:  0px 0px 0px 0px;
  border-image-repeat:  round round;

  /* ALT settings image border:
    border-image-slice: 50% 28% 21% 70%;
    border-image-width: 1.5em 0.5em 0.5em 1.5em;
  */
}
.corners > h4{
  font-family: 'Anton', sans-serif;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.corners > p{
  font-family: 'IBM Plex Sans', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: 115.05%;
}
/* carosel buttons*/
.flickity-page-dots {
  bottom: 0px;
}
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}
.flickity-prev-next-button {
  display: none;
  width: 100px;
  height: 100px;
  background: transparent;
}
/*carosel butns end*/
/* END CAROSEL*/


/*VISION*/
.vision-outer-container {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.vision-text-top {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--primary-white);
}
.vision-text-top > h4 {
  margin: 0;
}
.vision-text-top > p {
  margin-right: 5rem;
}
.mobil-h4{
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mobil-p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}





/*FOOTER MOBILE*/





.footer-wrapper {
  color: var(--secondary-color-hero);
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column-reverse;
}

.footer-p{
  text-align: center;
font-family: 'IBM Plex Sans', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.left-footer-column {
  width: 80%;
  margin-bottom: 4rem;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;
}
.center-footer-column {
  width: 80%;
  margin-bottom: 5rem;
  margin-top: 5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  border-image: url(assets/box-borders/HorizontallinesfooterDESKTOP.png) 27 23 / 50px 30px / 1rem round space;
}
.right-footer-column {
  width: 80%;
  margin-bottom: 0rem;
  margin-top: 5rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--primary-white);
  text-align: center;
  border-image: url(assets/box-borders/HorizontallinesfooterDESKTOP.png) 27 23 / 50px 30px / 1rem round space;
}
}
@media (min-width: 800px) {
}
@media (min-width: 942px) {
  .nav-bar-mobile {
    display: none;
  }
  .logo {
    width: 10.07938rem;
    height: 4rem;
    margin-left: 2rem;
  }
  .text-wrapper {
    margin: 0 0 0 10%;
  }
  .big-bottom {
    width: 50%;
    padding-left: 0rem;
  }
  .header-para {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .nav-bar {
    gap: 16%;
    position: absolute;
    display: flex;
    width: 100%;
    height: 4rem;
    padding: 0rem 0rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .nav-mid {
    font-size: 1rem;
  }

  .bars {
    gap: 1rem;
  }
  .left-footer-content > p {
    font-size: 1rem;
  }
  .center-footer-column > p {
    font-size: 1rem;
  }
  .right-footer-column {
    flex-direction: column;
  }
  .right-footer-column > p {
    font-size: 1rem;
  }
}
@media (min-width: 1100px) {
  .nav-bar {
    gap: 18%;
  }
  .text-wrapper {
    width: 60%;
  }
  .header-para {
    padding-right: 10rem;
    padding-left: 3rem;
  }
  .big-bottom {
    padding-left: 3rem;
  }
  .social-media-icon {
    width: 1.4rem;
  }
  .footer-logo {
    width: 40%;
    height: 4rem;
  }
  .left-footer-content > p {
    font-size: 1rem;
  }
  .right-footer-column {
    flex-direction: row;
  }
}
@media (min-width: 1205px) {
  .nav-bar {
    gap: 23%;
  }
  .logo {
    width: 10.07938rem;
    height: 4rem;
    margin-left: 2rem;
  }

  .main-header {
    padding-left: 4rem;
  }
  .header-para {
    padding-right: 21rem;
    padding-left: 4rem;
  }
  .big-bottom {
    padding-left: 4rem;
  }
  .hero {
    gap: 8rem;
  }
  .mail-collector {
    padding-left: 1rem;
  }
  .right-box-model-box {
    margin: 0 2rem 0 0;
  }
  .left-box-model-box {
    margin: 0 0 0 2rem;
  }
  .footer-logo {
    width: 50%;
    height: 4rem;
  }
  .left-footer-content > p {
    font-size: 1rem;

    line-height: 1.25rem;
  }
  .social-media-wrapper {
    gap: 1rem;
  }
  .social-media-icon {
    width: 1.5rem;
  }
  .center-footer-column > p {
    font-size: 1.25rem;
  }
  .right-footer-column > p {
    font-size: 1.25rem;
  }
}
@media (min-width: 1300px) {
  .header-para {
    padding-right: 21rem;
    padding-left: 6rem;
  }
  .big-bottom {
    padding-left: 6rem;
    padding-right: 0rem;
    margin: 0;
  }
  .sec-product {
    width: 45%;
  }
  .product-3d {
    width: 95%;
  }
}
@media (min-width: 1440px) {
  .header-para {
    padding-left: 4rem;
  }
  .big-bottom {
    padding-left: 4rem;
  }
}

@media (min-width: 1500px) {
  .header-para {
    padding-left: 5rem;
  }
  .big-bottom {
    padding-left: 5rem;
  }
}

@media (min-width: 1600px) {
  .main-header {
    padding-left: 0rem;
    margin-left: 7rem;
  }
  .header-para {
    padding-left: 7rem;
  }
  .big-bottom {
    padding-left: 7rem;
  }
}

@media (min-width: 1800px) {
  .main-header {
    padding-left: 0rem;
    margin-left: 7rem;
  }
  .header-para {
    padding-left: 8rem;
  }
  .big-bottom {
    padding-left: 8rem;
  }
}

@media (min-width: 1920px) {
  * {
    max-width: 1920px;
  }
  .main-header {
    padding-left: 0rem;
  }
  .header-para {
    padding-left: 8rem;
  }
  .big-bottom {
    padding-left: 8rem;
  }
  .product-3d {
    width: 100%;
  }
}
