/* navbar */
/* .nav-bar {
  position: absolute;
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 0rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 18.75rem;
  flex-shrink: 0;
  flex-direction: row;
}
.nav-mid {
  height: 100%;
  color: var(--primary-white);
  gap: 4.74rem;
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-direction: row;
  align-items: center;
}
.navbar-anchor {
  gap: 0.4rem;
  display: flex;
  flex-direction: row;
}
.logo {
  width: 11.07938rem;
  height: 4rem;
  flex-shrink: 0;
  color: var(--primary-white);
}
.logo-wrapper {
  left: 3%;
  position: relative;
  display: flex;
  color: var(--primary-white);
}
.bars {
  margin-right: 4rem;
  display: flex;
  height: 1.25rem;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  flex-shrink: 0;
} */
/* navbar ends*/
/* hero */

/* .hero-main {
  display: block;
  background-image: url("assets/backgrounds/utanallt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  width: 100%;
  height: 68rem;
  flex-shrink: 0; 
} */
/* .text-wrapper {
  margin: 0;
  padding: 0;
  width: 49%;
  position: relative;
  top: 10rem;
  left: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
} */
/* .main-header > h1 {
  color: var(--primary-white);
  font-family: "Anton", "IBM Plex Sans", sans-serif;
  font-size: 9.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 96.344%;
} */
/* .main-header > .header-green {
  color: var(--Primary-green);
  display: inline;
}
.main-header > .header-pink {
  color: var(--secondary-pink);
  display: inline;
} */
/* .header-para {
  padding-right: 21rem;
  padding-left: 10rem;
  margin: 0;
  color: var(--primary-white);
} */
/* .header-para > p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
} */
/* .hero {
  gap: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
} */
/* .big-top {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.625rem;
} */
/* .big-bottom {
  width: 43%;
  padding-left: 10rem;
  padding-right: 0rem;
  margin: 0;
  color: var(--primary-white);
} */
/* .mail-collector {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
} */
/* .mail-collector > p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 107%;
} */
/* .btn-hero {
  margin-left: 0;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 2%;
  border: 1px solid var(--Primary-green);
  background-color: var(--primary-color-black);
  color: var(--primary-white);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  border-radius: 1rem;
  width: 10.1875rem;
  height: 3.0625rem;
} */

/* hero ends */
/* MAIN */
/* .bg-black {
  width: 100dvw;
  height: 100rem;
  background-image: url('assets/backgrounds/black_filemap_background_svg.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .border-box-main {
  margin: 0 3rem 0 3rem;
  width: calc(100% - 6rem);
  border: 5px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-image: url(assets/box-borders/HorizontallinesDESKTOP.png) 37 478 /13% 83%/
    33px stretch;
} */
/* .border-image-conatiner{
  display: none;
}
.border-box-main-mobile{
  display: none;
} */
/* .product-3d {
  width: 85%;
} */
/* .left-box-model-box {
  width: calc(40% - 3rem);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  background-image: url(assets/main/only_background_NO_product.svg);
  align-items: center;
  justify-content: center;
} */
/* .center-box-model-box {
  margin: 0;
  padding: 0 4.5rem 0 4.5rem;
} */
/* .right-box-model-box {
  width: calc(40% - 3rem);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  border-image: url(assets/box-borders/Boxcornders@2x.png) 60 43 /8% 6%/ 0px;
} */
/* .model-info {
  margin: 0 1rem 0 1rem;
  display: flex;
  color: var(--Primary-green);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
} */
/* .left {
  margin: 0;
  text-align: left;
}
.right {
  margin: 0;
  text-align: right;
} */
/* .model-header {
  color: var(--primary-white);
  font-family: "Anton", sans-serif;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} */

/* .model-bread {
  display: flex;
  color: var(--primary-white);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
  flex-direction: column;
  gap: 1rem;
} */
/* .model-bread > p {
  margin: 0;
} */
/* .model-list {
  margin: 0;
} */
/* .model-bread > ol {
  padding-left: 1.4rem;
} */

/* MAIN ENDS */
/*PRODUCT CARDS*/
/* content {
  margin-bottom: 10rem; 
  display: flex;
} */
/* .sec-product {
  position: relative;
  margin: 0;
  display: flex;
  width: 45%;
  height: 27.6875rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
} */

/* .border-box-with-corner {
  left: 1rem;
  border: 2px solid var(--primary-white);
  border-image: url("assets/box-borders/Boxcornders@2x.png") 58 43 /34% 10%/ 7px;
  position: relative;
} */

/* .sec-product-box {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */
/* .sec-prod-text-box > h4 {
  font-family: "Anton", sans-serif;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.10781rem;
  letter-spacing: 0.08438rem;
} */
/* .synt {
  
  background-repeat: round;
  border: 2px solid var(--primary-white);
  background-image: url("assets/backgrounds/productBackdrops/ff3.png");
  border-image: url("assets/box-borders/HorizontallinesDESKTOP.png") 53 / 51px
    55px / 2rem stretch;
} */
/* .speakers {
  background-size: auto;
  background-repeat: round;
  border: 2px solid var(--primary-white);
  background-image: url("assets/backgrounds/productBackdrops/liggande_party_final4k.png");
  border-image: url("assets/box-borders/HorizontallinesDESKTOP.png") 53 / 51px
    55px / 2rem stretch;
}
.pedals {
  background-size: auto;
  background-repeat: round;
  border: 2px solid var(--primary-white);
  background-image: url("assets/backgrounds/productBackdrops/Pedalcontentfill3.png");
  border-image: url("assets/box-borders/HorizontallinesDESKTOP.png") 53 / 51px
    55px / 2rem stretch;
} */
/* .slider-mob{
  display: none;
}
 */



/*FOOTER*/
/* footer {
  background-color: var(--primary-black);
  width: 100vw;
  width: 100dvw;
} */
/* .footer-wrapper {
  color: var(--secondary-color-hero);
  height: 20.625rem;
  flex-shrink: 0;
  display: flex;
} */
/* .left-footer-column {
  margin-bottom: 5rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  border-image: url("assets/box-borders/HorizontallinesfooterDESKTOP.png") 27 23 /
    50px 30px / 1rem round space;
} */
/* .left-footer-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--primary-white);
} */
/* .social-media-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
} */
/* .social-media-icon {
  width: 2rem;
  height: 2rem;
}

.footer-logo {
  width: 11.12238rem;
  height: 4rem;
} */
/* .center-footer-column {
  margin-bottom: 5rem;
  margin-top: 5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  border-image: url("assets/box-borders/HorizontallinesfooterDESKTOP.png") 27 23 /
    50px 30px / 1rem round space;
} */

/* .footer-button {
  color: var(--primary-white);
  text-transform: capitalize;
  font-family: "IBM Plex Sans", sans-serif;
  border: 1px solid var(--primary-white);
  background-color: var(--primary-black);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
  border-radius: 8px;
} */
/* .right-footer-column {
  margin-bottom: 5rem;
  margin-top: 5rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--primary-white);
  text-align: center;
  border-image: url("assets/box-borders/HorizontallinesfooterDESKTOP.png") 27 23 /
    50px 30px / 1rem round space;
} */

/* .footer-p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
} */
/*FOOTER ENDS*/